Host *
    HostKeyAlgorithms +ssh-rsa
    PubkeyAcceptedKeyTypes +ssh-rsa

Host platinum 10.0.0.243
    KexAlgorithms +diffie-hellman-group1-sha1

Host electron
    HostName electron.soda.fm
    User marc
    Port 7022

Host soft-local
    HostName 10.78.80.157
    Port 23231

Host soft
    HostName soft.soda.rip
    Port 23231
