Host *
    HostKeyAlgorithms +ssh-rsa
    PubkeyAcceptedKeyTypes +ssh-rsa

Host seed
     HostName 128.180.123.88
     User seed
     ProxyJump gateway

Host sunlab
     HostName sunlab.cse.lehigh.edu
     User masa20
     ProxyJump gateway

Host eltanin
     HostName eltanin.dept.lehigh.edu
     User masa20
     ProxyJump gateway

Host gateway
     HostName ssh.lehigh.edu
     User masa20

Host das
     HostName das-lab.org
     User masa20

Host electron
     HostName electron.soda.fm
     User marc
     Port 7022


Host wgw
     HostName 128.180.123.186
     User marc
     Port 1701
     ProxyJump seed

Host wg1
     HostName 192.168.6.1
     User marc
     ProxyJump wgw

Host wg2
     HostName 192.168.6.2
     User marc
     ProxyJump wgw